.popup-content{
    background-color: #fdf3f9;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}